* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    border: 1px solid black;
    background-color: rgb(112, 146, 42);
    width: 1200px;
    height: 500px;
}